body {
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #497d74;
  z-index: 1;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

.content {
  position: relative;
  z-index: 2;
}

.home-container {
  height: 100%;
  max-width: 100%;
  padding-top: 200px;
  padding-left: 80px;
  padding-right: 20px;
  background: linear-gradient(
    to bottom,
    rgba(39, 68, 93, 0.8),
    rgba(39, 68, 93, 0.8),
    #6d7b8d
  );
  margin: auto;
}

.home-container::before {
  content: "";
  position: absolute;
  height: 100%;
  z-index: 1;
}

.home-container h1 {
  font-weight: bold;
  color: white;
  font-size: 45px;
  margin-top: 150px;
}
.home-container h2 {
  font-weight: bold;
  color: white;
  font-size: 35px;
  margin-top: -5px;
}

.home-container p {
  color: white;
  font-size: 16px;
  margin-top: 30px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  gap: 0;
}

.hero-container h1 {
  padding-right: 0px;
}

@media (min-width: 1400px) {
  .home-container {
    max-width: 1320px;
  }
}

@media (min-width: 992px) {
  .hero-container {
    flex-direction: row;
    align-items: normal;
    gap: 150px;
  }
  .hero-container h1 {
    padding-right: 50px;
  }
  .home-container {
    height: 750px !important;
  }
}

.features-container {
  margin: auto;
  max-width: 100%;
  background-color: #6d7b8d;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  border-bottom: 2px solid #b0bcc8;
}

.features-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}

.features-container h1 {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  color: #f5f5f5;
}

@media (min-width: 768px) {
  .features-container {
    width: 100%;
  }
  .features-style {
    align-items: normal !important;
    height: auto !important;
    width: 100%;
  }
}

@media (min-width: 515px) {
  .center-image {
    border-left: 0 !important;
    border-right: 0 !important;
  }
  .right-image {
    border-left: 2px solid #b0bcc8 !important;
    border-right: 0 !important;
  }
}

@media (min-width: 770px) {
  .right-image {
    border-left: 0 !important;
    border-left: 0 !important;
  }
  .center-image {
    border-left: 2px solid #b0bcc8 !important;
    border-right: 2px solid #b0bcc8 !important;
  }
}

@media (min-width: 1400px) {
  .features-container {
    max-width: 1320px;
  }
}

.features-style {
  display: flex;
  flex-direction: column; /* Stack image on top and text below */
  align-items: center; /* Center content horizontally */
  background-color: #6d7b8d;
  color: #f5f5f5;
  height: auto; /* Remove fixed height for better responsiveness */
  border-top: 2px solid #b0bcc8;
  width: 100%;
  flex: 1 1 calc(33.33% - 10px);
  transition: all 0.3s ease;
}

.features-style:hover {
  background-color: #556473;
  color: #f5f5f5;
}

.center-image {
  border-left: 0;
  border-right: 0;
}
.right-image {
  border-left: 0;
  border-right: 0;
}

.features-container h4 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 40px;
}

.features-container p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin-bottom: 50px;
  white-space: inherit;
  margin-left: 40px;
  padding-right: 40px;
}

.image-wrapper-style {
  position: relative;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  width: 100%;
  height: 300px;
}

.image-wrapper-style img {
  width: 250px; /* Make the image responsive */
  object-fit: fill; /* Ensure the entire image is visible */
  height: 200px;
  margin-top: 50px;
}

.grid-container3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* Small screens (Mobile) - 1 column */
@media (max-width: 992px) {
  .grid-container3 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.process {
  height: 100%;
  background: linear-gradient(to bottom, #6d7b8d, #6d7b8d, #273746);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
}

@media (min-width: 1400px) {
  .process {
    max-width: 1320px;
  }
}

.process-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%;
}

.process-image-wrapper {
  position: relative;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  width: 100%;
  height: 300px;
  flex: 1 1 calc(50% - 10px); /* Adjust for two columns */
  transition: all 0.3s ease;
}

.process-image-wrapper img {
  width: 250px; /* Make the image responsive */
  object-fit: fill; /* Ensure the entire image is visible */
  height: 200px;
  margin-top: 50px;
}

.process-style {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(50% - 10px); /* Adjust for two columns */
  color: #f5f5f5;
  gap: 20px;
}

.process-style:hover {
  color: #9ca1a6;
}

.process-style div {
  border-left: 2px solid #f5f5f5;
  height: 100px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-one {
  transition: all 0.3s ease;
}
.box-two {
  transition: all 0.3s ease;
}
.box-three {
  transition: all 0.3s ease;
}

.box-one:hover {
  border-left: 2px solid #f5f5f5;
  color: #f5f5f5;
  translate: 5%;
}
.box-two:hover {
  border-left: 2px solid #f5f5f5;
  color: #f5f5f5;
  translate: 5%;
}
.box-three:hover {
  border-left: 2px solid #f5f5f5;
  color: #f5f5f5;
  translate: 5%;
}

.process-container h4 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 28px;
  margin-left: 20px;
}

.process-container p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  white-space: inherit;
  margin-left: 20px;
  padding-right: 40px;
}

.process h1 {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  color: #f5f5f5;
}

.contacts {
  height: 100%;
  background: #2b4d46;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.contacts h1 {
  font-weight: bold;
  color: white;
  padding-left: 20px;
  padding-bottom: 20px;
}

.contacts-wrapper {
  max-width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

@media (min-width: 992px) {
  .contacts-wrapper {
    flex-direction: row;
  }
  .contacts-container {
    width: 430px;
  }
}

.contacts-container {
  background-color: #a7c4c2;
  color: #1a252f;
  text-align: center;
  height: auto;
  border-radius: 1.5rem;
  transition: all 0.3s ease;
  width: 100%;
}

.contacts h4 {
  font-family: "sans-serif";
  font-weight: bold;
  font-size: 42px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.contacts p {
  font-size: 20px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 50px;
  white-space: inherit;
}

.contacts-container:hover {
  transform: scale(1.03);
}

.contacts-img {
  color: #05203f;
  font-size: 2.4rem;
  transition: all 0.3s ease;
  border: 2px solid #05203f;
  border-radius: 1.5rem;
  text-shadow: none !important;
  margin-top: -70%;
}

.contacts-img:hover {
  transform: scale(1.2);
  color: #00d4ff;
  box-shadow: 0px 5px 15px #00d4ff; /* Enhances glow */
  border-color: #00d4ff; /* Changes border color */
}

footer {
  background-color: #27445d;
  box-shadow: 0 3px 10px #05203f;
  text-shadow: 2px 2px 5px #006d82;
}

.section-container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.navbar {
  transition: all 0.3s ease-in-out; /* Smooth shrinking effect */
}

/* Navbar toggler */
.navbar-toggler {
  background-color: white;
}

.navbar.scrolled {
  background-color: #27445d;
  box-shadow: 0 3px 10px #05203f;
  text-shadow: 2px 2px 5px #006d82;
}

.nav-link {
  color: white;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #00d4ff;
}

.navbar-nav .nav-link.active {
  color: #00d4ff !important; /* Change to your preferred active color */
  font-weight: bold; /* Makes it stand out */
  border-bottom: 2px solid #00d4ff; /* Optional underline effect */
}

.nav-link:focus {
  color: #00d4ff;
  outline: none;
}

.navbar-toggler .active {
  border: 2px solid #00d4ff;
}

.navbar-toggler .focus {
  border: 2px solid #00d4ff;
}

#home {
  padding-top: 80px; /* Adjust based on navbar height */
  margin-top: -80px; /* Prevent extra space */
}

#features {
  padding-top: 80px; /* Adjust based on navbar height */
  margin-top: -80px; /* Prevent extra space */
}

#process {
  padding-top: 35px; /* Adjust based on navbar height */
  margin-top: -35px; /* Prevent extra space */
}

#contacts {
  padding-top: 35px; /* Adjust based on navbar height */
  margin-top: -35px; /* Prevent extra space */
}
